<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/sementic/semantic.min.css">
    <title>test</title>
</head>
<header>
<div class="ui secondary  menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div></header>
<body>
<% if(locals.flash && locals.flash.error) { %>
<div class="ui negative message">
<%= flash.error %>  
  </div>
<% } %>
<% if(locals.flash && locals.flash.success) { %>
<div class="ui positive message">
<%= flash.success %>  
  </div>
<% } %>
